#payment {
  .title-main {
    font-size: 22px;
    line-height: 45px;
  }
  .scroll-content {
    color: white;
    .big-item {
      font-size: 20px;
      background: transparent;
      padding: 20px;
      border-bottom: solid 2px black;
    }
    .small-item {
      margin-top: 10px;
      font-size: 12px !important;
    }
  }
}

#split-payment {
 .title-main {
    font-size: 22px;
    line-height: 45px;
  }
  .scroll-content {
    color: white;
    .big-item {
      font-size: 20px;
      background: transparent;
      padding: 20px;
      border-bottom: solid 2px black;
    }
    .small-item {
      margin-top: 10px;
      font-size: 12px !important;
    }
  }
  .add-copayer-btn {
    padding: 5px 0px 0px 0px;
    border-radius: 23px;
    background: #ff9e19;
    i {
      color: white;
    }
  }
  .copayer-list {
    position: relative;
    .copayer-avatar {
      position: absolute;
      width: 67px;
      height: 67px;
      top: 10px;
      left: 10px;
      border: 2px solid #FF9E16;
      border-radius: 50%;      
      img {
        width: 63px;
        height: 63px;
        border-radius: 50%
      }
    }
    .list-item {
      position: relative;
      width: 100%;
      height: 90px;
      margin: 5px 0px;
      border-bottom: solid 2px black;

      .name {
        position: absolute;
        width: 100%;
        padding-left: 110px;
        padding-right: 50px;
        top: 20px;
        font-size: 20px;
      }
      .tel {
        position: absolute;
        width: 100%;
        padding-left: 110px;
        padding-right: 50px;
        top: 48px;
        font-size: 13px;
      }
      .remove {
        position: absolute;
        bottom: 9px;
        right: 13px;
        font-size: 13px; 
        color: red;
      }
    }    
  }
  .padding {
    padding: 15px;
  }
  .item-radio {
    background: #260038 !important;
    color: white;
    border: none;
  }  
  .item-radio .item-content {
    background: #260038 !important;
    color: white;
    margin-left: 30px;
  }
  .radio-icon:before, 
  .radio-icon:after {
    border-color: #fc9300 !important;
    border: 2px solid #fc9300 !important;
  }
  .radio-icon:after {
    background: #fc9300 !important;
  }
  .sendpayment_btn {
    margin-right: 10px;
    background: #fc9300 !important; 
    color: white;
    border-radius: 0px;
    font-weight: bold;
  }  
}

#addcopayer-Modal {
  width: 100px;
  position: absolute;
  right: 20px;
  top: 118px;
  min-height: 75px;
  background: transparent;
  color: white;
  text-align: right;
  .contact-list {
    margin-top: 15px;
    margin-bottom: 25px;
  }
}
.modal-backdrop-bg {
  pointer-events: none;
  background: black !important;
  opacity: 0.5 !important;
}

#addnewcopayer-Modal {
  background: #260038 !important;
  top: 20%;
  width: 96%;
  left: 2%;
  min-height: 60%;
  input  {
    background: transparent;
    color: white;
    font-size: 18px;
    border-bottom: solid 2px black;
  }
  .tel {
    border-bottom: solid 2px red !important; 
  }
  .red {
    color: red !important;
  }
  .input-label {
    color: #D0C9C9;
  }
  .item-input {
    border: none;
  }
  .tel-placeholder {
    padding-left:14px;
  }
  .gender {
    padding: 10px;
    select {
      width: 100%;
      font-size: 17px;
      background: transparent;
      color: white;
      border: none;
      border-bottom: solid 2px black;
    }
  }
  .buttons {
    margin-top: 40px;
    a {
      color: #fc9300;
      margin-left: 20px;
      font-size: 18px;
    }
  }
}

#payment-method {
  .title-main {
    font-size: 22px;
    line-height: 45px;
  }
  .scroll-content {
    color: white;
    .big-item {
      font-size: 20px;
      background: transparent;
      padding: 20px;
      border-bottom: solid 2px black;
    }
    .small-item {
      margin-top: 10px;
      font-size: 12px !important;
    }
  }
  .add-payment-method {
    padding: 5px 0px 0px 0px;
    border-radius: 23px;
    background: #ff9e19;
    margin-top: 20px;
    i {
      color: white;
    }
  }
  .choose-card {
    font-size: 20px;
    background: transparent;
    padding: 20px;
  }

  .item-radio {
    background: #260038 !important;
    color: white;
    border: none;
  }  
  .item-radio .item-content {
    background: #260038 !important;
    color: white;
    margin-left: 30px;
  }
  .radio-icon:before, 
  .radio-icon:after {
    border-color: #fc9300 !important;
    border: 2px solid #fc9300 !important;
  }
  .radio-icon:after {
    background: #fc9300 !important;
  }
}