<ion-view class="signup-view">
    <div class="bar bar-header bar-energized">
        <div class="title title-left">
            <div class="title">
                <h1 class="title">Sign Up</h1>
            </div>
        </div>
    </div>

    <ion-content class="has-header">
        <div class="description">
            <h4>We Will Text You Updates</h4>
            <p>We will keep you up to date with your reservation.</p>
        </div>

        <div class="wrapper">
            <div class="row">
                <div class="col">
                    <div class="floating-label-field" ng-class="{'border-on':focusCountry==true, 'border-off':focusCountry==false}">
                        <label ng-show="account.country.name" class="floating-label" ng-class="{'focus-on':focusCountry==true, 'focus-off':focusCountry==false}">Country</label>
                        <select ng-focus="focusCountry=true" ng-blur="focusCountry=false" ng-model="account.country.name">
                            <option value="" disabled class="placeholder">Country</option>
                            <option ng-repeat="country in countries track by $index" class="color-black">{{country.name}}</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col col-10">
                    <div class="floating-label-field" class="border-off">
                        <input type="text" placeholder="" ng-model="account.country.code">
                    </div>
                </div>

                <div class="col col-90">
                    <div class="floating-label-field" ng-class="{'border-on':focusPhoneNumber==true, 'border-off':focusPhoneNumber==false}">
                        <label ng-show="account.phonenumber" class="floating-label" ng-class="{'focus-on':focusPhoneNumber==true, 'focus-off':focusPhoneNumber==false}">Phone</label>
                        <input type="text" placeholder="Phone" ng-focus="focusPhoneNumber=true" ng-blur="focusPhoneNumber=false" ng-model="account.phonenumber">
                        <label class="hint" ng-show="hintPhoneNumber==true">555-555-5555</label>
                    </div>
                </div>
            </div>

            <div class="buttons">
                <button class="button button-medium button-energized min-width-100" ng-click="goNext('signup4')">NEXT</button>
            </div>
        </div>
    </ion-content>
</ion-view>