<ion-view class="walkthrough-view">
    <ion-slide-box>

        <!-- page 1 -->
        <ion-slide class="page-1">
            <div class="tutor-image">
                <img src="img/walkthrough1.png">
            </div>

            <div class="h-bar"></div>

            <h4 class="title">Find All The Hottest Events</h4>
            <p class="description">
                Find out whats going on around you or where your headed. Search through nightclubs, day-clubs or DJs. When you find something you like, touch the heart in the corner to add it to your favorites.
            </p>
        </ion-slide>

        <!-- page 2 -->
        <ion-slide class="page-2">
            <div class="tutor-image">
                <img src="img/walkthrough2.png">
            </div>

            <div class="h-bar"></div>

            <h4 class="title">Book Your Next Night Out</h4>
            <p class="description">
                Don't want to hassel with promotors?<br>
                Bottles Waiting<span class="supper-script">TM</span> allows you to purchase Passes or even reserve a table right from your phone
            </p>
        </ion-slide>

        <!-- page 3 -->
        <ion-slide class="page-3">
            <div class="tutor-image">
                <img src="img/walkthrough3.png">
            </div>

            <div class="h-bar"></div>

            <h4 class="title">Pick Exactly Where You Want to Sit</h4>
            <p class="description">
                Don't worry about getting a crappy table at your club, with our software you can choose your table from the exact floor plan from the venue. Touch the blue circles to reserve that table.
            </p>
        </ion-slide>

        <!-- page 4 -->
        <ion-slide class="page-4">
            <div class="tutor-image">
                <img src="img/walkthrough4.png">
            </div>

            <div class="h-bar"></div>

            <h4 class="title">Bottles Waiting</h4>
            <p class="description">
                Don't get to your club and wait for bottles to arrive, have them waiting on you! With the app, choose your alcohol and mixers and they will be waiting on you to arrive.
            </p>
        </ion-slide>

        <!-- page 5 -->
        <ion-slide class="page-5">
            <div class="tutor-image">
                <img src="img/walkthrough5.png">
            </div>

            <div class="h-bar"></div>

            <h4 class="title">Need More Bottles?</h4>
            <p class="description">
                Whether you have a reservation with us or not, you can still put in an order for alcohol right from your phone without waiting for the bottle service chick to come over
            </p>

        </ion-slide>

    </ion-slide-box>

    <button class="button button-clear button-medium button-light" ng-click="goEventList()">Get Started</button>
</ion-view>