<ion-view class="eventlist-view">

    <div class="bar bar-header bar-energized">
        <div class="title title-left">
            <div class="title">
                <div class="title-main">
                    Las Vegas
                </div>
                <div class="title-sub">June 2015</div>
            </div>
        </div>

        <div class="buttons buttons-right">
            <span class="right-buttons">
            <button class="button">
                <i class="icon-order"></i>
            </button>

            <button class="button" ng-click="openSideMenu()">
                <i class="icon-people"></i>
            </button>

            <button class="button" ng-click="openPopover($event)">
                <i class="icon-more"></i>
            </button>
            </span>
        </div>
    </div>

    <div class="bar bar-subheader bar-calendar">
        <div class="row row-week">
            <div class="col col-day" ng-repeat="day in weeks[0] track by $index" ng-class="{'highlight':$index==5}" ng-click="toggleCalendar()">
                <div class="day-title">{{dayNames[$index]}}</div>
                <div class="day-number">{{weeks[0][$index].getDate()}}</div>
            </div>
        </div>

        <div class="panel-calendar" ng-show="expandCalendar==true">
            <div class="row row-week">
                <div class="col col-day" ng-repeat="day in weeks[1] track by $index" ng-click="selectPanelDay()">
                    <div class="day-title">{{dayNames[$index]}}</div>
                    <div class="day-number">{{weeks[1][$index].getDate()}}</div>
                </div>
            </div>

            <div class="row row-week">
                <div class="col col-day" ng-repeat="day in weeks[2] track by $index" ng-click="selectPanelDay()">
                    <div class="day-title">{{dayNames[$index]}}</div>
                    <div class="day-number">{{weeks[2][$index].getDate()}}</div>
                </div>
            </div>

            <div class="row row-week">
                <div class="col col-day" ng-repeat="day in weeks[3] track by $index" ng-click="selectPanelDay()">
                    <div class="day-title">{{dayNames[$index]}}</div>
                    <div class="day-number">{{weeks[3][$index].getDate()}}</div>
                </div>
            </div>
        </div>
    </div>

    <ion-tabs class="tabs-striped tabs-top tabs-background-royal tabs-color-light tabs-icon-left">

        <ion-tab title="Nightclubs" icon-off="icon-nightclub" icon-on="icon-nightclub">
            <ion-view>
                <ion-content class="has-header has-subheader has-tabs-top">
                    <div class="event-list">
                        <div class="event-item" ng-repeat="event in events track by $index" ng-click="goEventDetail(event.eventId)">
                            <div class="event-banner">
                                <img ng-src="{{event.banner}}">
                            </div>
                            <div class="event-promotion" ng-if="event.promotionText!=''">
                                {{event.promotionText}}
                            </div>
                            <div class="like-pane" ng-click="reverseLike($index)">
                                <i class="icon" ng-class="{'icon-heart':event.like, 'icon-heart-outline':!event.like}"></i>
                            </div>
                            <div class="event-info">
                                <span class="event-name">{{event.eventName}}</span>
                                <div class="row">
                                    <div class="col col-45">{{event.entertainerName}}</div>
                                    <div class="col col-35">{{event.venueName}}</div>
                                    <div class="col col-20">{{event.musicType}}</div>
                                </div>
                            </div>
                            <div class="entertainer-avatar" ng-click="goEntertainerProfile()">
                                <img ng-src="{{event.avatar}}" ng-if="event.avatar">
                            </div>
                        </div>
                    </div>
                </ion-content>
            </ion-view>
        </ion-tab>

        <ion-tab title="Dayclubs" icon-off="icon-dayclub" icon-on="icon-dayclub">
            <ion-view>
                <ion-content class="has-header has-subheader has-tabs-top">
                    <div class="event-list">
                        <div class="event-item" ng-repeat="event in events track by $index" ng-click="goEventDetail($index)">
                            <div class="event-banner">
                                <img ng-src="{{event.banner}}">
                            </div>
                            <div class="event-promotion" ng-if="event.promotionText!=''">
                                {{event.promotionText}}
                            </div>
                            <div class="like-pane" ng-click="reverseLike($index)">
                                <i class="icon" ng-class="{'icon-heart':event.like, 'icon-heart-outline':!event.like}"></i>
                            </div>
                            <div class="event-info">
                                <span class="event-name">{{event.eventName}}</span>
                                <div class="row">
                                    <div class="col col-45">{{event.entertainerName}}</div>
                                    <div class="col col-35">{{event.venueName}}</div>
                                    <div class="col col-20">{{event.musicType}}</div>
                                </div>
                            </div>
                            <div class="entertainer-avatar" ng-click="goEntertainerProfile()">
                                <img ng-src="{{event.avatar}}" ng-if="event.avatar">
                            </div>
                        </div>
                    </div>
                </ion-content>
            </ion-view>
        </ion-tab>
    </ion-tabs>

</ion-view>