<ion-view class="musicsearch-view">

    <div class="bar bar-header bar-energized">
        <div class="title title-left">
            <div class="title">
                <h1 class="title">Music</h1>
            </div>
        </div>

        <div class="buttons buttons-right">
            <span class="right-buttons">
            <button class="button" ng-click="openSideMenu()">
                <i class="icon-people"></i>
            </button>

            <button class="button" ng-click="openPopover($event)">
                <i class="icon-more"></i>
            </button>
            </span>
        </div>
    </div>

    <ion-content class="has-header">

        <div class="list list-inset">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="Search DJ" ng-model="search.keyword">
            </label>
        </div>

        <div class="entertainer" ng-repeat="entertainer in entertainers track by $index">
            <div class="entertainer-avatar">
                <img ng-src="{{entertainer.croppedUrl ? entertainer.croppedUrl : defaultDjImageUrl}}">
            </div>

            <div class="entertainer-name">
                <h3 class="name short-text">{{entertainer.name}}</h3>
                <div class="title short-text" ng-show="entertainer.headliner==true">Headliner</div>
            </div>

            <div class="like-pane" ng-click="reverseLike($index)">
                <i class="icon icon-heart" ng-class="{'icon-heart':event.like, 'icon-heart-outline':!entertainer.like}"></i>
            </div>

            <div class="row property">
                <div class="col col-15">
                    <button class="button button-clear button-energized" ng-click="goDJPage('bio')">BIO</button>
                </div>
                <div class="col col-20">
                    <button class="button button-clear button-energized" ng-click="goDJPage('music')">MUSIC</button>
                </div>
                <div class="col col-20">
                    <button class="button button-clear button-energized" ng-click="goDJPage('video')">VIDEOS</button>
                </div>
                <div class="col col-45">
                    <button class="button button-clear button-energized" ng-click="goDJPage('upcoming')">UPCOMING SHOWS</button>
                </div>
            </div>
        </div>

    </ion-content>

</ion-view>