<ion-view class="eventlist-view" id="orderdetailfirst">

    <div class="bar bar-header bar-energized">
        <div class="title title-left">
            <div class="title">
                <div class="title-main">
                    Order Detail
                </div>
            </div>
        </div>

        <div class="buttons buttons-right">
            <span class="right-buttons">
            <button class="button">
                <i class="icon-order"></i>
            </button>

            <button class="button" ng-click="openSideMenu()">
                <i class="icon-people"></i>
            </button>

            <button class="button" ng-click="openPopover($event)">
                <i class="icon-more"></i>
            </button>
            </span>
        </div>
    </div>
    
    <ion-content class="has-tabs-top">
        <div class="order-detail">
            <div class="row header">
              <div class="col col-20">Qty.</div>
              <div class="col col-60">Name</div>
              <div class="col col-20">Price</div>
            </div>

            <div class="row detail">
              <div class="col col-20">2</div>
              <div class="col col-60">VIP Passes(Male)</div>
              <div class="col col-20">$400</div>
            </div>

            <div class="row detail">
              <div class="col col-20">2</div>
              <div class="col col-60">All You Can Drink(Female)</div>
              <div class="col col-20">$200</div>
            </div>

            <div class="row subtotal">
              <div class="col col-80 text-center">Subtotal</div>
              <div class="col col-20">$600</div>
            </div>
            <div class="row tax">
              <div class="col col-80 text-center">Tax</div>
              <div class="col col-20">$54</div>
            </div>

            <div class="row total">
              <div class="col col-80 text-center">Total</div>
              <div class="col col-20">$654</div>
            </div>
        </div>
        <div class="text-right">
            <button class="checkout-button button button-energized">
              CHECK OUT
            </button>
        </div>
    </ion-content>           
</ion-view>
